textarea{
    width: 500px;
    height: 300px;
}

.input-block{
    display: flex;
    justify-content: space-between;
}


/*
    HTML
*/
.object{
    border: 1px solid #888888;
    background: #ffffff;
}

.object.hide {
    display: none;
}

.object td{
    padding: 10px;
}

.object tr.row:nth-child(1n)>td{
    background: #eeeeee;
}
.object tr.row:nth-child(2n)>td{
    background: #ffffff;
}

.object-header{
    padding: 5px;
}

.object-key{
    padding: 10px;
    font-weight: bold;
}

.object-value{
    padding: 5px;
}

.object-description{
    padding: 5px;
}

.header > td{
    background: tomato;
    color: #ffffff;
}

.table-view-switcher{
    display: none;
}

.table-view-switcher + label{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.table-view-switcher + label:before{
    content: 'Show';
}

.table-view-switcher:checked ~ table{
    display: table;
}

.table-view-switcher:checked + label:before{
    content: 'Hide';
}



/*
    JHTML
*/
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
.empty{ color: #999999; }

.results{
    font-family: monospace,sans-serif;
    border: 1px solid tomato;
    margin: 10px;
    box-shadow: 1px 1px 6px #999;
    padding: 10px;
}

.key-postfix{
    color: #888888;
}

.jhtml-view-switcher{
    display: none;
}

.jhtml-view-switcher + label{
    cursor: pointer;
}

.jhtml-view-switcher + label:before{
    content: '▶';
    padding: 5px;
}

.jhtml-view-switcher:checked ~ .props{
    display: block;
}

.jhtml-view-switcher:checked + label:before{
    content: '▼';
}

.jhtml-view-switcher:not(:checked) ~ .props{
    display: none;
}

.desc-handler{
    display: inline-block;
    background: tomato;
    color: #ffffff;
    border-radius: 10px;
    width: 20px;
    text-align: center;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
}

.desc-handler:hover{
    width: 50%;
}

.desc-handler > .desc {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background: #ffffff;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid tomato;
    color: #333333;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 1px 2px 8px tomato;
}

.desc-handler:hover > .desc{
    display: block;
}


/*
    Editable JHTML
*/
.prop{
    margin: 15px 10px;
}

.editablekey:hover,
.editablekey:focus{
    background: yellow;
}

[contenteditable=true]:empty:before{
    content: attr(placeholder);
}

[contenteditable=true]:empty{
    color: #999999;
}

.keyerror:after{
    content: '';
    display: inline-block;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 512.018 512.018"> <path d="M509.769,480.665L275.102,11.331c-7.253-14.464-30.933-14.464-38.187,0L2.249,480.665    c-3.307,6.613-2.944,14.464,0.939,20.757c3.904,6.272,10.752,10.112,18.155,10.112h469.333c7.403,0,14.251-3.84,18.155-10.112    C512.713,495.129,513.075,487.278,509.769,480.665z M256.009,426.201c-11.776,0-21.333-9.557-21.333-21.333    s9.557-21.333,21.333-21.333s21.333,9.557,21.333,21.333S267.785,426.201,256.009,426.201z M277.342,340.867    c0,11.776-9.536,21.333-21.333,21.333c-11.797,0-21.333-9.557-21.333-21.333V191.534c0-11.776,9.536-21.333,21.333-21.333    c11.797,0,21.333,9.557,21.333,21.333V340.867z" fill="#D80027"/> </svg>');
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    margin-bottom: -5px;
}

.edithandler{
    width: 12px;
    height: 12px;
    border: 2px solid #aaaaaa;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    color: #aaa;
    cursor: pointer;
    position: relative;
}
.edithandler:after{
    content: 'H';
    position: absolute;
    top: -5px;
    left: -3px;
    font-size: 20px;
}

.edithandler:hover{
    border-color: #000000;
    color: #000000;
}

.edithandler > .edit-menu{
    display: none;
}

.edithandler:hover > .edit-menu{
    display: flex;
}

.edit-menu{
    position: absolute;
    background: #ffffff;
    box-shadow: 1px 2px 8px #000000;
    list-style: none;
    display: none;
    margin: 0;
    padding: 0;
    font-family: monospace, sans-serif;
    font-size: 12px;
}

.edit-menu > li{
    padding: 6px 10px;
    cursor: pointer;
}

.edit-menu > li:hover{
    background: #aaaaaa;
}